# Archivos generados por Rust / Cargo
/target/
**/*.rs.bk
Cargo.lock

# Archivos de configuracion y datos especificos del usuario
crypto_key.key
sistema.log
*.db
.env
clave-db.txt

# Archivos del sistema operativo
.DS_Store
Thumbs.db

cosas/

comp.txt